*{
    margin : 0;
    padding : 0;
}

/*Tag Selectors*/
body{
    background-color: rgb(0,255,127);
    font-family: Arial;
    padding: 0px;
    margin  : 50px;
}

h1{
    margin-bottom: 25px;
}

h2{
    margin-bottom: 35px;
    text-align: center;

}

p{
    text-align: center;
}

/* Class selectors */
.first{
    color : red;
}

input, button{
    padding: 10px;
    font-size: 20px;
}


/* Id Selectors */
#yourname{
    border: 5px solid #427;
    width: 400px;
    background-color:rgb(130, 226, 255);
    padding: 30px;
}

#yourname h2{
    color: blueviolet;
}

.containers{
        display: flex;
        background: transparent;
        border-color: tomato;
        border-width: 50px;
        border-radius: 50px;
        border-style: solid;
        align-items: flex-end;
        flex-direction: column-reverse;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;

    }
#course-img{
    width: 500px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}